<!--
  Generated template for the BarcodeScannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Camera</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button block (tap)="scanner()">Lancer le scanner..</button><br />
  Format acceptés :
  <div *ngIf="scannerDataForm != null">
    <ion-item>
      <ion-label>Format :</ion-label>
      <ion-content>{{ scannerDataForm }}</ion-content>
    </ion-item>
    <ion-item>
      <ion-label>Texte :</ion-label>
      <ion-content>{{ scannerDataText }}</ion-content>
    </ion-item>
  </div>
  <div *ngIf="scannerDataForm == null">
    <ion-item>
      <ion-label>Il n'y a rien à afficher pour l'instant.</ion-label>
    </ion-item>
  </div>
  
</ion-content>
